<header class="header">
        <div class="header__logo-box">
        <img srcset="/img/logo-1.png 1x, /img/logo-2.png 2x" alt="laMi1A logo" class="header__logo">
        <div class="navbar-brand">laMi1A</div>
    </div>

            <div class="header__text-box">
                <h1 class="heading-primary"> 
                    <span class="heading-primary--main">omia1</span>   
                    <span class="heading-primary--sub"> entertainment practices</span> 
                </h1>
                <a href="#book" class="btn btn--white btn--animated "> signup for free</a>   
            </div>
            
    
</header>