
{{> head}}
{{!--
{{> navbar}}
 --}}
{{!-- {{> vdo}} --}}
  <body>
    {{#if index}}
      {{> header}}
    {{/if}}

    {{{body}}}
  
  </body>
    {{#if index}}
      {{> footer}}
    {{/if}}   
      {{> scripts}}
</html>
