<div class="container">
    <header class="header">
        <img src="/img/logo-1.png" alt="" class="logo">
        <form action="" class="form-search">
            <input type="text" class="form-search__input" placeholder="search user">
            <button class="form-search__button">
                <svg class="form-search__icon">
                    <use xlink:href="/dashboard/img/symbols.svg#icon-magnifying-glass"></use>
                </svg>
            </button>
        </form>
        <nav class="user-nav">
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="/dashboard/img/symbols.svg#icon-home"></use>
                </svg>
            </div>
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="/dashboard/img/symbols.svg#icon-link"></use>
                </svg>
                <span class="user-nav__notification">2</span>
            </div>
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="/dashboard/img/symbols.svg#icon-users"></use>
                </svg>
                <span class="user-nav__notification">5</span>
            </div>
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="/dashboard/img/symbols.svg#icon-bookmarks"></use>
                </svg>
                <span class="user-nav__notification">2</span>
            </div>
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use xlink:href="/dashboard/img/symbols.svg#icon-line-graph"></use>
                </svg>
                <span class="user-nav__notification">5</span>
            </div>
            <div class="user-nav__user">
                <img src="/dashboard/img/caneva.png" alt="" class="user-nav__user-photo">
                <span class="user-nav__user-name">lami1a</span>
            </div>
        </nav>
    </header>

    <div class="content">
        <nav class="sidebar">
            <ul class="side-nav">
                <li class="side-nav__item side-nav__item--active">
                    <a href="" class="side-nav__link">
                        <svg class="side-nav__icon">
                            <use xlink:href="/dashboard/img/side-defs.svg#icon-cog"></use>
                        </svg>
                        <span class="side-nav__link-text">
                            profile
                        </span>
                    </a>
                </li>
                <li class="side-nav__item">
                    <a href="" class="side-nav__link">
                        <svg class="side-nav__icon">
                            <use xlink:href="/dashboard/img/side-defs.svg#icon-add-user"></use>
                        </svg>
                        <span class="side-nav__link-text">
                            classes
                        </span>
                    </a>
                </li>
                <li class="side-nav__item">
                    <a href="" class="side-nav__link">
                        <svg class="side-nav__icon">
                            <use xlink:href="/dashboard/img/side-defs.svg#icon-gauge"></use>
                        </svg>
                        <span class="side-nav__link-text">
                            groups
                        </span>
                    </a>
                </li>
                <li class="side-nav__item">
                    <a href="" class="side-nav__link">
                        <svg class="side-nav__icon">
                            <use xlink:href="/dashboard/img/side-defs.svg#icon-folder-video"></use>
                        </svg>
                        <span class="side-nav__link-text">
                            programs
                        </span>
                    </a>
                </li>
                <li class="side-nav__item">
                    <a href="" class="side-nav__link">
                        <svg class="side-nav__icon">
                            <use xlink:href="/dashboard/img/side-defs.svg#icon-globe"></use>
                        </svg>
                        <span class="side-nav__link-text">
                            overview
                        </span>
                    </a>
                </li>
            </ul>
            <div class="legal">
                &copy; 2018 by lami1a.
                <p>All rights reserved </p>
            </div>
        </nav>
        <main class="view-dash">
            <div class="gallery">
                <figure class="gallery__item">
                    <img src="/img/caneva.png" alt="" class="gallery__photo">
                </figure>
                <figure class="gallery__item">
                    <img src="/img/caneva2.png" alt="" class="gallery__photo">
                </figure>
                <figure class="gallery__item">
                    <img src="/img/caneva3.png" alt="" class="gallery__photo">
                </figure>
            </div>
            <div class="overview">
                <h1 class="overview__heading">
                    <a href="#" class="overview__heading--link">
                        africa
                        <svg class="overview__stars__icon">
                            <use xlink:href="/dashboard/img/symbols.svg#icon-chevron-right"></use>
                        </svg>

                    </a>
                    <a href="#" class="overview__heading--link">
                        asia
                        <svg class="overview__stars__icon">
                            <use xlink:href="/dashboard/img/symbols.svg#icon-chevron-right"></use>
                        </svg>
                    </a>
                    <a href="#" class="overview__heading--link">
                        occident
                        <svg class="overview__stars__icon">
                            <use xlink:href="/dashboard/img/symbols.svg#icon-chevron-right"></use>
                        </svg>
                    </a>
                </h1>
                <div class="overview__stars">
                    <svg class="overview__stars__icon">
                        <use xlink:href="/dashboard/img/symbols.svg#icon-star"></use>
                    </svg>
                    <svg class="overview__stars__icon">
                        <use xlink:href="/dashboard/img/symbols.svg#icon-star"></use>
                    </svg>
                    <svg class="overview__stars__icon">
                        <use xlink:href="/dashboard/img/symbols.svg#icon-star"></use>
                    </svg>
                    <svg class="overview__stars__icon">
                        <use xlink:href="/dashboard/img/symbols.svg#icon-star"></use>
                    </svg>
                    <svg class="overview__stars__icon">
                        <use xlink:href="/dashboard/img/symbols.svg#icon-star"></use>
                    </svg>

                </div>
                <div class="overview__top--location">
                    <svg class="overview__top--location-icon">
                        <use xlink:href="/dashboard/img/symbols.svg#icon-location-pin"></use>
                    </svg>
                    <button class="btn__inline">
                        afrique, mali, toumbouktou
                    </button>
                </div>
                <div class="overview__top--rating">
                    <div class="overview__top--rating-average">
                        8.6%
                    </div>
                    <div class="overview__top--rating-count">
                        100
                    </div>
                    <div class="overview__top--rating-count">
                        U / wk
                    </div>
                </div>
            </div>
            <div class="detail">
                <div class="organisation-view">
                    <h2 class="organisation-view__name">blue and white school</h2>
                    <p class="organisation-view__description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus minus ipsam quasi debitis iste quis libero saepe maxime
                        assumenda quaerat sequi modi odio error, totam delectus animi facilis. Pariatur, dolore.
                    </p>

                    <ul class="organisation-view__caracteristique">
                        <li class="list__item">capacity of 24 students</li>
                        <li class="list__item">capacity of 4 professor</li>
                        <li class="list__item">capacity of 10 appris</li>
                        <li class="list__item">capacity of 5 2eme categorie</li>
                        <li class="list__item">mixtes school</li>
                    </ul>
                    <div class="organisation-view__recommend">
                        <p class="organisation-view__recommend--user">
                            @user_lambda 
                        </p>
                        <p class="organisation-view__recommend--illustration">
                            <img src="/img/lavand-1.png" alt="school image" class="organisation__ilustration--img">
                            <img src="/img/laga-1.png" alt="school image" class="organisation__ilustration--img">
                            <img src="/img/juda-1.png" alt="school image" class="organisation__ilustration--img">
                        </p>
                    </div>
                </div>
                <div class="user-view">
                    <h2 class="user-view--palmares">Last best points</h2>
                    <figure class="review">
                        <blockquote class="review__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nostrum aut nulla. Iusto neque perferendis suscipit, ipsa quas nemo atque necessitatibus.
                        </blockquote>
                        <figcaption class="review__user">
                            <img src="/img/caneva.png" alt="" class="review__photo">
                            <div class="review__user-box">
                                <p class="review__user--name">@babel</p>
                                <p class="review__user--date">21/02/2019</p>
                            </div>
                            <div class="review__user--rating">
                                3 p / days
                            </div>   
                        </figcaption>
                    </figure>
                    <figure class="review">
                        <blockquote class="review__text">
                            higher Rate of pont by day in the institution amet consectetur adipisicing elit. Quod nostrum aut nulla. Iusto neque perferendis suscipit, ipsa quas nemo atque necessitatibus.
                        </blockquote>
                        <figcaption class="review__user">
                            <img src="/img/caneva2.png" alt="" class="review__photo">
                            <div class="review__user-box">
                                <p class="review__user--name">@aziz</p>
                                <p class="review__user--date">26/02/2019</p>
                            </div>
                            <div class="review__user--rating">
                                9 p / 2 days
                            </div>   
                        </figcaption>
                    </figure>
                    <button class="btn__inline">Show all <span>&rarr;</span>
                    </button>
                </div>

            </div>
            <div class="cta">
                <h2 class="cta__book-now">
                    You can jonn this school to access theire program  and the method of study
                </h2>    
                <button class="btn cta__btn">
                    <span class="cta__btn__visible">join now</span>   
                    <span class="cta__btn__invisible">3 places left </span>
                </button>
            </div>
        </main>
    
    </div>

</div>