<main>
<section class="section__navigation">
  <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>  
        <div class="navigation__background">&nbsp;</div>
     
        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"> <a href="#about" class="navigation__link"> About lami1a</a></li>
                <li class="navigation__item"><a href="#features" class="navigation__link">features and expertise</a></li>
                <li class="navigation__item"><a href="#subscription" class="navigation__link"> Omia1 subscription </a></li>
                <li class="navigation__item"><a href="#stories" class="navigation__link"> user s stories </a></li>
                <li class="navigation__item"><a href="#book" class="navigation__link"> subscription</a></li>
                <li class="navigation__item"><a href="#footer" class="navigation__link"> terms of privacy</a></li>
                
            </ul>
        </nav>
</section>
  <section class="section-about" id="about"> 
      <div class="section-about__title u-center-text u-margin-bottom-8">
        <h1 class="heading-secondary ">
          <span class="navbar-brand">laMi1A</span> <span class="company">actual projects</span> 
        </h1>
        <h2 class="heading-secondary-2" > we compute intelligent tools for success development</h2>
      </div> 
      <div class="row">
        <div class="col-1-of-2">
          <h2 class="heading-tertiary u-margin-bottom-2">Omia1</h2>
          <div class="project-description">
            <p class="project-description__paragraph">
               Our first team project , we are proud to provide a plateforme for this app / on web and mobile app
            </p>
           </div>
          <h2 class="heading-tertiary u-margin-bottom-2">Omia-dashboard</h2>
          <div class="project-description">
            <p class="project-description__paragraph">
              beta version of omia1 is enhanced for premium clientsthey pay 3 € / month / you have access to app dashboard omia2  
            </p>
          </div>
          <h2 class="heading-tertiary u-margin-bottom-2"> lamia1</h2>
          <div class="project-description">
              <p class="project-description__paragraph"> 
                we gelousely hide the content of this application because it s just an idea we will give some hont about january 2019 for users of lami1a  
              </p>
          </div>
        <a href="#news" class="btn-text"> project to expect &rarrhk;</a>
        </div>
        
        <div class="col-1-of-2">
          <div class="composition">
            <img srcset="/img/juda-1.png 250w, /img/juda-2.png 500w" alt="projet omia1" 
            class="composition__photo composition__photo--p1" 
            sizes="(max-width: 900px) 27vw, (max-width: 600px) 41vw, 500px"
            src="/img/juda-1.png">

            <img srcset="/img/lavand-1.png 250w, /img/lavand-2.png 500w" alt="projet omia1" 
            class="composition__photo composition__photo--p2" 
            sizes="(max-width: 900px) 27vw, (max-width: 600px) 41vw, 500px"
            src="/img/lavand-1.png">
            
            <img srcset="/img/laga-1.png 250w, /img/laga-2.png 500w" alt="projet omia1" 
            class="composition__photo composition__photo--p3" 
            sizes="(max-width: 900px) 27vw, (max-width: 600px) 41vw, 500px"
            src="/img/laga-1.png">
           
           </div>
        </div>
      </div>
  </section>  

  <section class="section-features" id="features">
         <h2 class="section-features-heading-secondary-2" > we master javascript stack</h2>
     <div class="row">
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-world"></i>
          <h2 class="heading-tertiary u-margin-bottom-2"> javascript</h2>
          <p class="feature-box__text">*
            (product owner) omia1 project <br/>
            javascript isomorphic app
          </p>   
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-helm"></i>
          <h2 class="heading-tertiary u-margin-bottom-2">frameworks</h2>
          <p class="feature-box__text">
            (development) front-end <br/>
            React-Redux-Saga.
          </p>   
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-lightbulb"></i>
          <h2 class="heading-tertiary u-margin-bottom-2">management</h2>
          <p class="feature-box__text">
            (omia1) Developement to Deployment solution<br/>
            master cloud solution
          </p>   
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-share"></i>
          <h2 class="heading-tertiary u-margin-bottom-2">project</h2>
          <p class="feature-box__text">
            API (development & Documentation)<br/>
            tests and quality tuning
          </p>   
        </div>
      </div>
    </div>  
  </section>
  <!-- PROJETCTS AND PROGRAMS-->
  <section class="section-subscription" id="subscription" >
    <div class="u-center-text u-margin-bottom-2 section-stories--title">
      <h2 class="u-section-heading"> subscription and  Programs</h2>
    </div><!-- TITLE OF SECTION -->
    <div class="row">
      <div class="col-1-of-3">
        <div class="section-subscription__description ">
          <div class="section-subscription__description--side section-subscription__description--side-front">
              <div class="section-subscription__description--picture section-subscription__description--picture--free">
                  &nbsp;
              </div>
              <h4 class="section-subscription__description--heading section-subscription__description--heading--free headind-tertiary">
                    Free
              </h4>
              <div class="section-subscription__description--details">
                <ul>
                  <li>basic level</li>
                  <li>personal space</li>
                  <li>free access to chalenges </li>
                  <li>free access to win colaborator gifts</li>
                </ul>
              </div>
          </div><!--subscription side-front -->
          <div class="section-subscription__description--side section-subscription__description--side-back-free">
            <div class="section-subscription__description__cta">
                <div class="section-subscription__description__price-box">
                  <p class="section-subscription__description__price-box--features">free</p>
                  <p class="section-subscription__description__price-box--price">300 cards  24/24 </p>
                </div>
                <a name="" id="" class="btn btn--white btn--animated " href="#popup" role="button"> example</a>
            </div><!-- CTA-->
          </div><!--back -->
        </div><!-- section-subscription__description -->
      </div><!-- col 1 of 3 -->
      <div class="col-1-of-3">
        <div class="section-subscription__description">
          <div class="section-subscription__description--side section-subscription__description--side-front">
              <div class="section-subscription__description--picture section-subscription__description--picture--family">
                  &nbsp;
              </div>
              <h4 class="section-subscription__description--heading section-subscription__description--heading--family headind-tertiary">
                  family
              </h4>
              <div class="section-subscription__description--details">
                <ul>
                  <li>basic level</li>
                  <li>manageable dashbord for all progess</li>
                  <li>free access to chalenges </li>
                  <li>can make gifts if challenge </li>
                  <li>master propositions </li>
                  <li>choice of programs from six</li>
                  <li>service and best practice advice</li>
                </ul>
              </div> <!-- details -->
          </div><!--end section subscription  front-->
          <div class="section-subscription__description--side section-subscription__description--side-back-family">
            <div class="section-subscription__description__cta">
                <div class="section-subscription__description__price-box">
                  <p class="section-subscription__description__price-box--features">family</p>
                  <p class="section-subscription__description__price-box--price">3€/m  && 30€ /year </p>
                  <p class="section-subscription__description__price-box--price">(3 * 12 * nb child -(nb*10)</p>
                </div>
                <div>
                  <a name="" id="" class="btn btn--white btn--animated " href="#popup" role="button"> example</a>
                </div> <!-- btn -->
            </div> <!-- CTA -->
          </div> <!--back-->
        </div><!--end section subscription -->
      </div> <!-- col-1-of-3 -->
      <div class="col-1-of-3">
        <div class="section-subscription__description">
          <div class="section-subscription__description--side section-subscription__description--side-front">
            <div class="section-subscription__description--picture section-subscription__description--picture--organisation">
                  &nbsp;
            </div><!-- picture -->
              <h4 class="section-subscription__description--heading section-subscription__description--heading--organisation headind-tertiary">
                    organisation and school
              </h4><!--description heading -->
              <div class="section-subscription__description--details">
                <ul>
                  <li>dashbord and slice team</li>
                  <li>manageable dashbord for all progess</li>
                  <li>free access to chalenges </li>
                  <li>can make gifts if challenge </li>
                  <li>master propositions </li>
                  <li>choice of programs from six</li>
                  <li>service and best practice advice</li>
                </ul>
              </div> <!-- details -->
            </div><!--FRONT-->
            <div class="section-subscription__description--side section-subscription__description--side-back-organisation">
              <div class="section-subscription__description__cta">
                    <div class="section-subscription__description__price-box">
                      <p class="section-subscription__description__price-box--features">organisation</p>
                      <p class="section-subscription__description__price-box--price">2€/m  && 30€ /year </p>
                    </div>
                      <a name="" id="" class="btn btn--white btn--animated " href="#popup" role="button"> example</a>
              </div> <!-- cta -->
           </div><!--back side -->
       </div> <!-- section description -->
      </div><!--col-1-of-3-->
    </div>  
    <div class="u-center-text u-margin-bottom-8">
      <a name="" id="" class="btn btn-text section-subscription__description--btn" href="#" role="button">Contact for miscellaneous project</a>
    </div> 
    
</section><!--section-subscription-->

<section class="section-stories" id="stories">
  <div class="bg-video">
    <video class="bg-video__content" autoplay muted loop >
      <source src="/vdo/ile.mp4" type="video/mp4">
            Your browser don t support video background
    </video>
  </div><!--BG VIDEO -->
  <div class="u-center-text u-margin-bottom-2 section-stories--title">
      <h2 class="u-section-heading"> Stories of user's progress</h2>
  </div><!-- TITLE OF SECTION -->
  <div class="row">
      <div class="stories">
        <div class="stories__story">
           <figure class="stories__story--figure">
              <img src="/img/caneva.png" class="stories__story--figure--img" alt="family portrait">
              <figcaption class="stories__story--figure--caption">
                @bougaz
              </figcaption>
            </figure>
            <div class="stories__story--text">
              <h2 class="stories__story--title u-center-text heading-tertiary ">
                family
              </h2>
              <p class="stories__story--text-def">
                 we had the proud success of finishin in program 2we had the proud success of finishin in program 2we had the proud success of finishin in program 2we had the proud success of finishin in program 2we had the proud success of finishin in program 2 
              </p>
             </div><!--story text -->
        </div><!--stories story --> 
        <div class="stories__story">
          <figure class="stories__story--figure">
              <img src="/img/caneva2.png" class="stories__story--figure--img" alt="organisation portrait">
              <figcaption class="stories__story--figure--caption">
                @school bombay
              </figcaption>
            </figure>
            <div class="stories__story--text">
              <h2 class="stories__story--title u-center-text heading-tertiary ">
                school programs   
              </h2>
              <p class="stories__story--text-def">
                 we had the proud success of finishin in program 2 
              </p>
             </div>
          </div><!--stories story -->
        <div class="stories__story">
          <figure class="stories__story--figure">
              <img src="/img/caneva3.png" class="stories__story--figure--img" alt="free portrait">
              <figcaption class="stories__story--figure--caption">
                  @rachid @ville
              </figcaption>
          </figure>
              <div class="stories__story--text">
                <h2 class="stories__story--title u-center-text heading-tertiary ">
                  Free program 5 jouz1
                </h2>
                <p class="stories__story--text-def">
                  all 10 hizb/5 jouz1 in 10 months 
                </p>
              </div>
        </div><!--stories story -->
    </div><!--stories-->
     
    
  </div><!--row-->
  <div class="u-center-text u-margin-bottom-8">
      <a name="" id="" class="btn btn-text" href="#" role="button">more examples of success program &rarrhk;</a>
  </div>
</section><!-- SECTION STORIES -->

<section class="section-book" id="book">
  <div class="row">
    <div class="book">
      <div class="book__form">
        <form action="#" class="form">
            <div class=" u-margin-bottom-2">
              <h2 class="section-features-heading-secondary-2">free trial</h2>
            </div>
          <div class="form__group">
            <label for="email" class="form__label">email
              <input type="email" id='email' class="form__input" placeholder="@mail" required>
            </label>
          </div>
          <div class="form__group">
            <label for="password" class="form__label">password
              <input type="password" id='password' class="form__input" placeholder="password 4 ch minimum" required>
            </label>
          </div>
          <div class="form-group">
            <div class="form__radio-group">
              <input type="radio" class="form__radio-input" id="free" name="topic">
              <label for="free" class="form__radio-label" > 
                <span class="form__radio-button"></span>
                free
              </label>
            </div>
            <div class="form__radio-group">
              <input type="radio" class="form__radio-input" id="family" name="topic">
              <label for="family" class="form__radio-label"> 
                <span class="form__radio-button"></span>
                family</label>
            </div>
            <div class="form__radio-group">
              <input type="radio" class="form__radio-input" id="organisation" name="topic">
              <label for="organisation" class="form__radio-label">
                <span class="form__radio-button"></span>
                 organisation</label>
            </div>
          </div>
          <div class="form__group">
             <button class="btn btn--green btn--animated ">  
               subscribe 
             </button>  
          </div>
        </form>
      </div>
    </div>
  </div>
</section><!--SECTION BOOKING -->
<div class="popup" id="popup">
  <div class="popup__content">
    <div class="popup__left">
      <img src="/img/depier.png" alt=" partie cards" class="popup__img">
      <img src="/img/laga.png" alt=" partie cards" class="popup__img">

    </div>
    <div class="popup__right">
      <a href="#subscription" class="popup-close">
        &times;
      </a>
      <h2 class="u-section-heading">Free program description</h2>
      <h3 class="heading-tertiary u-margin-bottom-2"> @team some thing &ndash; read his comments progress</h3>
      <p class="popup__text">
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem blanditiis ex aliquid officiis vitae maxime, ipsam animi reiciendis
        illum! Illo facere maiores quod reprehenderit! Expedita mollitia excepturi eos similique impedit? here
      </p>
      <div class="popup-cta">
           <a href="#" class="btn btn--acid">Visit progress schudle</a>
      </div>
    </div>
    
  </div>
</div>

</main>
    